<section id="home">
    <div class="home-container">
  <h1>Welcome to {{ courseCode }}!</h1>
  <p>{{ welcomemsg }}</p>

  <div class="course-details">
    <h2>Course Details</h2>
    <ul>
      <li><strong>Description:</strong> {{ description }}</li>
      <li><strong>Units:</strong> {{ units }}</li>
      <li><strong>Status:</strong> {{ isActive ? stat : 'Inactive' }}</li>
    </ul>
  </div>

  <div *ngIf="isActive" class="active-badge">
    ✅ This course is currently active!
  </div>
</div>

  <h1>-----------------------------------------------------------------------------</h1>
  <p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡷⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣄⣠⣄⣤⣀⣄⣠⣀⣄⣠⣀⣄⣠⣀⣀⡀⠀⠀⠀⠀⠀⠀⢀⣰⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣄⡶⢞⠾⣛⠾⡩⢯⣝⣯⢻⠹⡍⢊⡅⢫⠩⠍⡭⢩⠍⣍⠳⡙⠟⡳⠟⢶⣦⣤⣼⣿⣿⣿⡏⢻⣿⡏⠋⢍⠛⢿⣿⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣤⢞⠻⠞⡥⢋⠼⣡⠚⣥⣚⡵⣫⢞⡜⣃⠒⣌⠡⡌⣡⢣⡙⢤⢃⡜⠤⢣⡹⢜⡰⡙⢦⣻⣿⣿⣿⣿⣯⠄⣻⣿⣷⣂⠀⠀⠂⡼⡹⢿⣿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡠⣤⣤⣀⠀⠀⠀⠀⠀⣠⣤⣞⠳⣃⠎⡬⠑⡎⡜⣡⠚⣤⢋⡴⣫⢾⠑⡊⡔⢢⡉⢆⠳⢰⢡⠒⡌⢆⠣⣌⠳⣣⢕⡪⢴⣹⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢧⣧⡘⠰⢠⡙⣶⡹⢻⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣷⣤⣴⣿⢿⣟⣮⣳⣌⡚⢤⢋⠴⡹⢴⡩⢆⣳⡼⢣⢋⠰⡑⠜⡤⠓⣌⢣⢃⢎⡱⢊⠥⣓⢌⣣⢓⣮⣝⣳⣯⢿⣿⣟⣿⣿⣿⡟⡆⣿⣿⣿⣿⡾⣭⣃⠆⡱⠘⣿⣭⢛⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⢻⣿⣿⡿⠛⡥⢌⢊⠻⣹⢳⢻⡙⠣⢎⢢⡑⢣⠙⣊⢇⣫⡕⣦⡷⣌⠆⡥⠓⡌⢦⢉⠦⣘⡵⣚⣴⣫⣖⢯⠶⣹⢾⣽⣿⣷⣿⣿⣿⡿⣑⠦⡹⣿⣯⣿⣟⣷⣻⡼⡰⢱⡈⠷⣯⣜⣻⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣷⣿⠛⡱⣈⠱⡒⡌⠦⡑⠤⢢⠅⡎⢱⡈⢆⡘⢤⢛⡼⢯⡷⣿⢿⣽⣏⡞⡴⢩⠜⡰⢊⡔⢩⠙⢋⠳⡉⢿⣞⡶⣡⢛⣿⣿⣿⣿⣿⣿⣷⣭⡲⡅⣿⣿⡗⣿⡷⣯⣝⡳⢧⢌⡱⣛⣮⣗⣻⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⢋⠴⡉⢖⣡⠗⡱⢌⠣⡍⡒⢥⡚⣬⢣⡜⢦⡑⢎⡜⡸⢡⢛⡼⢯⣷⣻⢼⡱⣃⠎⣡⠣⢜⡠⠍⠦⣑⠘⡰⢻⣷⣝⡾⣿⣿⣿⣿⣿⣿⣿⣿⣷⣷⣿⣿⣿⡝⣿⣷⣫⡽⣏⢶⣱⡟⣾⡽⣞⣽⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⣿⣿⠛⡤⢋⢦⣙⢮⠳⣌⡑⢪⡑⢆⡉⢦⡙⢶⣫⢞⡧⡙⢦⡘⣡⢃⢎⡰⢩⠞⡝⣮⢳⡍⡖⣡⠙⡆⢆⡹⡐⡌⢣⡑⢢⢻⣿⣽⣛⢮⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⢯⣷⣯⢷⣹⡞⣧⡟⣧⢿⡽⣞⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⡙⢦⡙⠴⡩⢶⡹⢎⡱⢠⡝⣢⠝⣦⢉⠆⡜⣡⠟⣮⠵⣉⠦⡘⡔⣊⠖⡤⢃⢎⡱⢎⠧⣛⡜⢦⡙⡜⢢⠱⡘⢬⠡⡜⢡⢊⣿⣷⣯⣞⣳⢿⡿⠿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣻⣯⣷⡻⣵⢻⣝⣮⢟⡾⣽⢿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣶⡟⢧⡑⢢⠙⡲⣍⢧⡙⠆⡬⡑⢬⡑⢺⣥⣋⠞⣄⢣⠛⣬⠳⢆⠆⡱⡘⢤⢋⡔⠣⣌⠲⢌⠲⡱⢎⡳⠜⣌⢃⠧⣙⢂⠳⡈⠆⡌⠼⣿⣷⣯⢞⡯⢱⢣⣿⣿⣿⣿⣿⣿⣿⣿⣿⡒⣿⣽⣾⣽⣳⢯⡾⣽⡞⡽⣭⣛⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢼⣏⡙⠦⣌⠣⡜⡱⢎⠦⡑⢪⠔⡡⢸⣯⠰⣘⠧⡛⣔⢊⡱⢌⡓⢮⡘⢡⠚⡤⢣⠘⡥⢂⠳⡨⢅⠓⡬⣘⠣⡜⡂⢆⢡⠊⡔⢡⠊⡄⢉⢻⣿⣿⣯⢼⣹⣿⢯⢗⢯⣻⢿⣿⣿⣿⣿⣷⠨⢷⣻⣞⣧⢿⡹⣧⢻⣝⡶⣙⠞⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⡟⡄⡸⢣⠘⡇⢧⠻⡜⠤⡛⡄⢇⠸⣿⣿⢧⡘⢤⡛⡄⢇⡸⣄⡛⢤⠻⣄⠣⢄⢃⠇⠤⡛⢤⠣⢜⠣⡄⢃⠧⣘⠣⡘⢄⢃⠸⢀⠣⢀⠀⢸⣿⣿⣿⣿⣟⡟⡼⣜⣧⣛⢿⣛⠿⣿⣿⣿⢇⡛⢧⡿⣜⢧⢿⡸⢧⡜⣧⣛⠼⡸⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡏⠖⣬⢱⠣⣏⠼⢣⡙⢤⢣⠱⣉⢆⣸⣿⣿⣷⡘⠤⠓⡌⢢⠑⣿⣷⣎⠴⣨⢃⠎⡔⢪⡑⠜⣢⢙⠢⢓⢌⡃⠖⡡⢂⠱⡈⠄⢂⠂⠐⠀⠀⠠⢿⣿⣿⣿⣿⣾⣵⣋⠶⣭⡟⣬⠳⣼⣹⣿⣷⠌⡣⢝⡿⢮⡳⣏⡷⣹⠶⣙⢮⠱⠭⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣏⠹⣘⢮⢇⡳⡞⡍⡒⢜⠢⣍⠓⣌⢸⣾⡿⣟⣿⣯⡐⠡⢘⡀⠂⡽⣻⣿⣿⣆⡇⡞⡨⠅⡜⡱⢢⠍⣊⠥⡊⠜⡰⢁⠎⡐⢈⠐⡀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣷⣏⠿⣼⣝⣮⠳⣳⢯⣿⣿⡧⡑⢪⠜⣯⢷⣹⣚⣥⢻⣙⣎⢳⠢⡍⣿⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡟⣌⣳⡽⠎⣾⡅⠣⣘⠡⢎⡑⢢⡉⠔⣮⡿⣽⢿⣹⢷⣯⡐⠠⢌⠡⠐⣿⢯⣿⣾⢿⡵⣣⠏⡴⢡⣃⠞⡄⢣⢉⡒⢡⠂⢂⠐⡀⠂⠀⠀⠀⠀⠀⠀⢸⣿⣿⣾⣽⣾⣿⣿⣿⣿⣿⢶⣻⡴⣫⢿⣿⣿⡔⢣⢚⡰⢏⡶⢳⡬⢳⡜⣬⢓⢧⡘⡔⣻⣷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡾⡝⣴⣻⢧⣿⡿⢀⠰⠀⠍⠢⢘⠡⡘⢘⢶⡻⣽⢣⠝⢺⣳⢿⡐⡌⢢⠁⢎⣿⡞⣭⡛⢾⣱⠿⣜⠣⡜⡸⡘⠤⡃⢜⠠⢃⠄⣂⠐⠠⠁⠄⠠⠀⠄⠀⢨⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣳⣿⣿⣿⣮⠁⢦⡑⢪⢝⡣⣝⢣⡜⢦⢋⠦⡱⡘⢤⠻⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⢷⣹⣟⣧⣿⣿⡗⠠⠘⠠⣈⠐⡀⠂⠥⠘⣮⠳⢥⡋⠄⠀⢫⠿⣽⣎⢧⣙⢆⠾⣹⠦⣙⣧⢏⠟⡭⢳⡜⡱⢩⡒⡍⢎⡱⢊⡔⢢⡉⢆⡉⢆⠡⢌⠠⢁⠠⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⡍⢢⠙⣆⠪⡱⢎⡕⣎⢳⡊⠖⣡⠙⡄⢳⠹⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣯⢞⣿⣟⣾⣟⣿⡅⢢⠡⢃⡄⢣⠘⡠⢁⣚⣧⠉⠦⡁⠀⠀⠀⡙⠾⣽⢾⡝⣮⢂⡽⢎⡵⠈⠞⡸⡐⠣⡜⢳⢣⡱⢚⡤⣃⠧⡘⢥⠚⡴⡘⢤⠣⣌⠒⡄⢈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⠠⢏⠤⢣⡑⠮⡜⣌⠧⡜⢣⠂⡽⢈⠆⡭⢹⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⣟⣿⣯⣿⡿⣏⣿⡆⣡⢋⠖⣬⢣⡹⣐⠣⡜⣧⠘⡱⢀⠀⠀⠀⠀⠈⠜⣫⢿⣭⡳⣌⢻⡔⠀⠀⠑⠉⡖⣡⢂⣿⣷⣧⢢⡙⢦⡙⣌⠳⡒⡝⢮⡱⣌⠚⡔⢈⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣇⠊⡜⡡⠜⡱⡘⢤⠓⡬⢃⠧⡘⢥⠚⡄⢣⠸⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣽⣷⣿⣿⣻⢽⣻⡅⢢⠍⣞⣧⢣⢷⣡⠓⡼⣇⠠⡁⠀⠀⠀⠀⠀⠀⠀⠈⠳⢯⣷⢎⢧⢻⡀⠀⠀⠀⢸⣽⣿⢿⡙⣌⣳⣜⠢⣕⢪⡱⢅⣛⢦⡳⣌⠹⡜⢠⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣫⣿⣿⣿⣯⠰⡐⠥⢃⡱⢘⢢⡙⠴⣉⠲⣉⢆⠣⠜⣂⠆⠹⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣻⣿⣿⢷⣫⣟⣿⡃⠦⡙⣼⢮⢇⡿⢦⡙⢼⡧⢀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠝⠾⣌⡳⡔⠀⠀⠈⣿⣿⠁⢺⣿⣽⣿⣿⣷⣌⠳⣹⢎⡽⣯⢷⣍⡚⡵⢈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⣿⠋⢹⣿⡱⢌⠣⣑⠢⢍⠢⠜⡡⢎⠱⡰⣈⢎⡱⢈⠎⡅⢸⣿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⡿⣏⡷⡽⣾⣇⠒⣙⢮⣟⢮⣻⢧⡘⢮⣿⣴⣲⣶⣦⣄⣀⡀⠀⠀⠀⠀⠀⠀⠈⠸⠱⣍⡆⠀⠀⠉⠀⠀⢸⣷⣻⣿⣿⣿⣿⣧⡙⣶⡹⣟⣿⣞⢡⡓⢸⣿⣿⣿⢿⣽⣞⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⠟⠀⢈⣿⣷⠈⡕⢢⠍⣢⠙⡬⢑⠬⡑⡔⠢⢆⡡⢋⠜⡸⢠⠘⢿⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣘⢿⣾⣿⣽⣿⡿⣝⡞⣷⣻⢾⡅⢊⡽⣞⣯⢷⣯⠰⣘⣿⣿⡻⢱⣏⣻⣿⣷⣆⠀⠀⠀⠀⠀⠀⠀⠀⠙⡜⣇⠀⠀⠀⠀⠘⢷⡯⣿⣿⣿⣿⣿⣷⣣⠿⣝⣿⣾⡁⢯⡸⣿⣿⣿⣻⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠿⠀⠀⠀⢺⣿⡘⠬⣁⠞⡠⠓⡌⠎⠴⡑⠬⣑⠢⣑⠪⡘⡅⢆⢣⠘⢷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢐⣯⢸⣿⣿⣿⣿⢿⣹⢞⣳⡭⢿⣎⠅⣻⡽⣞⡿⣮⡓⣘⢾⣯⡑⢸⣟⣾⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠏⡄⠀⠀⠀⠈⠿⠷⣭⣻⢏⡟⠯⢿⣧⣻⢾⣳⠝⣢⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⣧⠟⠀⠀⠀⠀⠘⣿⡽⡐⢌⡒⠥⢋⠴⣉⢒⡉⢖⠨⣑⠢⡱⢁⡚⢌⠢⣍⠘⠿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⢌⢸⣿⣿⣿⡿⣯⣟⡾⣧⢃⣿⣮⠃⡔⡿⣯⣟⣷⡽⣠⢻⣟⣧⠐⢺⣟⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⠈⠀⠈⠢⣝⣯⣟⡿⣬⢱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢩⣾⠻⠀⠀⠀⠀⠀⠀⢹⣿⠰⣈⠦⡙⣌⠒⡤⢃⡜⢌⡱⢂⠵⣁⠣⡜⣈⠇⡌⣒⠘⢯⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠻⡄⢺⣿⣿⣿⢿⣟⣾⡽⣇⢳⡚⣽⢣⠜⣱⢻⣿⡽⣷⣣⢚⡿⣿⣷⡈⠽⣞⡿⡿⢿⣛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠼⣿⣯⣿⡼⣹⣿⣿⣿⣿⣿⣿⣿⣿⡿⣏⠇⣼⣻⠍⠀⠀⠀⠀⠀⠀⠀⠈⣿⡷⢠⠓⡰⣈⠦⣁⠧⡘⣂⠖⣉⠒⡤⢓⠰⢌⡚⢄⢣⡉⠜⣳⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣿⠑⢬⣹⣿⣿⣿⣻⣿⣳⣿⢣⡻⡜⠌⣿⢎⡰⢫⣾⣟⣷⢯⢼⣹⣟⣿⡿⠓⡈⠙⠍⠃⠀⠀⠀⢀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡹⣿⣷⡿⣽⣿⣿⣿⣿⣿⣿⢿⣯⠳⣬⢿⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⢢⡙⢔⠢⢜⡐⠦⡑⢆⠚⡤⢩⠔⣡⢋⡔⠨⣌⠢⡑⢎⠜⣧⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠰⣉⠦⣽⣿⣿⣷⣻⣟⣿⣞⡷⣹⠆⡱⢞⣷⢢⠑⠾⣽⣯⣟⣮⢳⣯⢿⣿⣇⠠⠈⡔⢀⠀⠠⢀⠂⠌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢣⡓⣭⣿⣿⣿⣿⣿⣿⣿⣿⡻⢏⣦⣿⡝⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣣⠘⣌⠲⠌⠦⣑⠱⢊⡱⠘⡔⡊⡔⢊⠔⡱⢂⠇⡜⣈⠎⡹⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢴⢫⠱⡌⢾⡱⢿⣿⣷⣻⢾⣿⣽⢾⣱⢫⠌⣧⠛⣧⡍⢎⠳⣯⢿⣞⣟⡾⣻⣿⢣⡆⢑⠨⠄⣀⠂⠄⡘⢌⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⠱⣢⣿⣿⣿⣿⣿⣿⣿⢳⣽⣞⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣗⠸⡄⢃⢎⡱⢄⢋⠆⡥⢋⠔⡱⠨⡅⢎⡱⢌⢚⡰⠌⣆⠱⣋⢿⡄⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢡⠓⣬⠳⣏⡻⣽⢾⡽⣿⣻⣯⣿⢇⢧⡻⡔⡩⣙⡿⣄⢩⢛⡿⢾⡽⣞⡿⣟⣯⢣⠌⠢⡑⢄⠪⢔⣈⠒⡈⢆⠀⡀⠀⡀⠤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣺⠅⣿⣿⣿⢿⣿⣿⣯⢻⣿⡋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢧⡓⢌⡃⢆⠲⢌⡊⡜⢤⡉⢎⠔⢣⡘⢂⠖⡌⠲⢄⠳⢠⠓⡌⡚⣵⠂⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠌⡣⠜⢦⡛⣵⡹⣞⢯⣟⣿⣟⣿⣽⢯⡾⡽⢆⡱⢄⡙⣿⣦⠌⠻⣭⢻⣽⣻⣿⣷⡸⣆⠡⠐⠢⡑⠨⢄⢣⠙⡌⢃⡉⢁⡈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠳⣜⣿⣿⢯⠃⢸⣿⣯⣏⠿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣝⢠⠚⡌⢆⠣⡔⠱⠢⢜⡈⢎⡡⢌⠣⢜⢨⡑⣊⠥⢃⠎⡔⢡⠚⣽⡄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⢏⠦⡱⣉⢦⡙⣶⢹⣎⢿⣞⣿⣿⣿⣯⣟⣿⡝⣣⠒⡬⣐⡯⢟⣮⡑⢦⣋⠷⣿⣽⣿⣷⡈⢳⢎⡠⠉⡑⢊⡄⠣⢌⠣⡜⢩⠘⠀⠀⠀⠀⠀⠀⠀⠀⢀⣄⣞⠲⣜⡓⣾⣿⡛⠂⠀⢌⡟⢹⣾⡹⢞⣧⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡭⢆⡓⠌⣆⠣⠜⣡⢋⠤⣉⠖⣈⠦⣉⠆⢣⠔⣡⠚⠤⡙⡰⢃⡱⠌⣾⡄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡽⢎⢢⠱⡐⢎⡵⣊⠷⣎⡿⣞⣿⣿⣿⢿⣾⢿⣱⢃⠇⡲⢈⣿⠀⠘⠿⣤⢃⡟⣵⣿⣿⣿⣷⡆⠈⠙⠷⣄⣂⠌⡐⠢⠐⠌⠠⠀⠀⠀⠀⠀⠀⣀⣰⢾⣻⡜⢮⢣⡝⣼⣿⠳⠁⠀⠀⢠⡗⠈⠹⢿⣦⡙⢷⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢜⡣⠜⡒⢤⠙⡢⢅⡊⢦⢡⠚⢤⠒⡤⢋⠆⠭⠤⡙⢢⠱⡘⠤⡘⢆⠱⣻⣄⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢾⡉⢆⢣⢣⠙⣆⠺⣥⢻⡼⡽⣯⢿⣿⣾⡿⣿⣻⢧⡋⠴⣡⣋⡷⠀⠀⠈⢛⣮⠴⢎⡽⣯⡙⢿⣿⣦⣄⡀⠈⠉⠹⠶⣡⣅⠊⠀⠁⠠⢀⣠⣴⣿⣿⢿⡿⡽⣩⠒⣧⡚⣽⢎⠱⠀⠀⠀⢨⣿⣶⣷⡈⠳⢿⣍⠿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢘⡧⣘⠱⣊⠥⢃⠦⡑⢆⠎⡜⠢⡍⠔⣃⠎⠥⣃⠱⣁⢎⠱⢡⠙⣢⠑⡤⢻⣆⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡏⡜⡘⢆⠦⡙⢤⡛⡴⣫⢞⡽⣯⢿⣯⣿⣟⣿⢯⡳⡅⢚⠤⣿⡐⠀⠀⠀⠀⠘⢟⣦⠱⣹⠆⠈⢹⣿⣿⣿⣷⣀⠀⠀⠀⠈⠛⠧⣓⠲⠳⢫⣿⣿⣿⣿⠛⡥⢢⢍⣾⡝⠜⠢⣄⣠⢓⡼⣩⣟⣿⣿⡅⠀⠈⠹⢳⢯⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣧⠘⡔⡊⢥⢒⡉⢖⡸⢈⠵⣈⢓⡰⢊⡱⢌⡱⢌⠢⣉⢆⠳⡄⣋⠔⡡⢻⣆⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡽⢆⡱⠌⢎⡒⣉⠦⣱⢣⣛⢮⡽⣫⣿⣳⢿⡾⣽⢯⡳⢌⡡⢚⣿⠀⠀⠀⠀⠀⠀⠈⠹⣷⣭⠇⠀⠀⠻⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣟⣎⠛⡔⣣⢾⡱⢮⡙⢷⡘⢦⡍⠲⢧⣻⢾⣽⣿⣦⠀⠀⠀⠈⠉⠻⠟⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⢧⣋⠴⡉⢆⠎⡜⢢⢌⢃⠖⡌⡒⡔⠣⡔⢊⡔⢊⡱⢄⡊⠵⠰⡡⠚⡴⢁⠟⣶
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣻⡌⠒⣌⢩⠒⡌⢆⠳⡰⢣⢎⢧⡻⣵⢯⣟⡯⣞⡽⣏⠷⣈⠲⢭⣿⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⡃⠀⠀⠀⠉⠛⠻⠛⠁⠀⠀⠀⠀⣤⣦⣴⣼⣿⣿⣟⡾⣼⣿⣟⠳⣩⠱⣋⠼⣡⡙⢦⡍⣏⢷⣹⣞⣿⣟⡿⣷⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣆⠓⡜⡌⣒⢉⠆⢎⡌⠲⢌⡱⢨⡑⠬⡡⢌⠣⠔⢣⡘⢌⠣⢅⡓⢌⠣⣊⠝
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠏⡴⢉⡔⠢⢍⢒⡉⢖⡡⢏⡜⡲⣝⡞⣿⡺⡵⣙⠾⣽⡃⢆⡙⣮⢗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣾⢿⣿⣿⡯⢹⢭⡞⣽⡛⡖⣌⢣⡅⢳⡡⢞⡤⣙⠦⣝⢮⡳⢧⣿⣯⣿⣿⣯⣟⠻⡐⠎⡐⢦⡴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣮⡑⡒⠬⣐⢩⡘⢢⡘⠥⣊⠴⠡⣌⠓⡌⠦⡙⢬⠡⡜⡨⣑⢊⠴⡉⠆⡅⢎
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡞⠧⡐⠣⢌⠓⡌⢆⡩⢆⡱⢊⡼⢱⢎⡽⣺⢵⢫⡜⣹⣳⡍⡒⢌⣿⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣾⢻⣾⣿⣿⣿⣿⢣⡞⣹⢆⡱⡹⡜⠢⠜⡥⢚⡵⢪⡕⣫⢞⣧⢻⣿⣿⣿⠛⠡⠀⠀⠀⠀⠀⠀⠀⠀⠻⢆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢶⣣⠱⡘⢤⠢⠱⡡⠜⢢⠡⢎⠱⡄⣋⠔⢣⡑⢢⢃⠖⡡⢆⢩⠢⢱⠈⡜⢢
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣃⠣⣑⡉⠦⣉⠖⡌⢆⠣⡜⡡⢎⡱⢎⡼⢣⡏⢖⡸⡐⣿⠆⣉⠆⣿⡃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣶⣟⣯⣿⣿⣿⣿⣿⣿⡿⣜⢧⣋⠷⡱⣍⢧⠓⣌⠣⡜⣣⢞⣱⢫⣜⡿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣹⡧⢎⠱⢢⢩⠑⢆⡙⠆⣍⠢⢃⠖⣡⢊⠥⣘⠡⢎⢒⡡⢎⢢⠙⣄⠋⡔⢃
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡖⢥⠒⡡⠜⢢⠅⢎⠴⣉⠲⠰⣑⠪⢔⢣⢚⡵⣊⢇⠲⣙⢼⠣⠌⡜⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣴⣶⣿⣿⣻⣾⣿⣿⡿⣟⠻⢻⣿⣿⡹⢎⡜⢯⡱⢎⢆⠫⠔⣣⠜⣡⠚⡴⢣⣞⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣝⡎⡱⢊⠴⡉⠦⢩⠜⣠⠙⣌⠲⢄⢣⢊⠴⣉⠲⠌⡔⣊⠤⢋⠤⡙⠤⢃
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢾⡙⢢⡙⡰⡉⢖⠸⣈⠖⠤⢃⡓⠤⢋⡌⢦⡉⢖⡩⢊⡱⢌⣎⠓⡬⣽⡻⠀⠀⠀⠀⠀⠀⢀⣀⣀⠠⠶⠴⠎⣭⣿⣿⣿⣿⣿⣿⣿⣿⣯⢷⣩⢖⣩⣿⣿⡟⣌⠮⡱⡘⢌⢎⡱⢊⠄⢣⠆⣍⢲⣿⠯⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⣯⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⡆⡱⣉⢆⡱⢉⢆⠚⡤⢩⢄⠳⣈⠆⢣⠒⣌⠒⠭⡰⢌⢒⡉⢦⢉⠲⢡
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⢇⡘⢤⠣⡑⡜⡨⣑⠢⢎⡡⢣⠘⡬⢑⡌⢆⡙⠦⣑⠣⢜⠢⣌⠃⡖⣿⡓⠀⠀⢀⣠⠖⠞⡉⠁⠉⠁⠀⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣾⣿⣿⣿⢤⢃⠱⣑⢎⣮⢳⡭⡘⢢⡜⣼⡿⠭⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⢧⡑⡌⢆⡒⡉⢦⠩⠔⠣⣌⢒⡡⢎⢡⠣⢌⠎⡑⢆⡃⢎⠸⣐⢊⡱⢂
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡝⢦⠘⣆⠣⣑⠢⡱⢄⠓⡢⢑⠦⣉⠔⢣⢘⠢⣉⠖⣡⠚⣌⠳⣠⠋⣴⣿⡅⠀⣰⠞⠁⠀⠀⠀⠀⠀⠀⠀⢆⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⢿⣿⣿⣿⣿⣿⣿⣿⣷⠊⣔⢫⡞⢶⣭⠲⣅⣶⣿⡿⡙⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣯⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣻⡧⡘⢦⠑⡘⢆⢣⡉⢇⡔⢊⠴⣈⠦⣉⠖⠬⣑⢊⠜⣨⢑⠢⣅⠲⢡
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢋⠆⡩⢄⠣⠰⣡⢑⡊⢬⠑⣊⠴⠡⢎⡡⢎⠒⣡⠚⣄⠣⡘⡔⡡⢎⢲⣿⠀⣴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠌⣌⣿⣿⣿⣿⣿⣿⣿⣿⢣⢋⣾⣿⣿⣿⣿⣿⣿⣿⣿⣯⢄⢣⣛⠳⢌⣵⣾⣿⣟⡓⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣧⢱⢊⠥⡙⡌⡒⣌⠒⠬⣑⠢⣅⠲⢌⡘⠦⢡⠎⡸⠄⡎⡱⢄⡋⢆
⠀⠀⠀⠀⠀⠀⠀⠀⢸⣦⠉⡔⢡⠊⡔⢣⠐⠊⡔⢣⡜⠐⡎⢱⠊⡔⠊⢱⠂⡕⢢⢱⢡⠂⡕⠊⣷⡌⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⡌⢲⡜⣿⣿⣿⣿⣿⣿⣿⣧⠓⣾⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣮⠓⡌⣵⣾⣿⣿⡟⣧⠀⠀⡖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣾⠃⡎⡜⢱⢰⠑⢢⠙⢢⡅⠚⡄⢣⡎⢰⠉⡖⢨⢱⠘⢰⢡⡎⠘⡆
⠀⠀⠀⠀⠀⠀⠀⢀⡜⢎⡐⡁⢎⡐⠰⡈⠥⢋⡔⢢⠅⡓⢬⠡⢎⡡⢋⢆⢣⡑⢎⠢⡍⢆⡱⠡⣿⡃⡕⢊⠀⠀⠀⠀⠀⠀⠀⡜⡴⣊⠷⣡⢻⣿⣿⣿⣿⡷⣏⣾⣿⣿⡿⣿⡽⣿⣳⣯⣟⡿⣿⣿⣧⣶⣿⣿⣿⣿⠝⠀⠀⠸⣝⡦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣷⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡇⡜⣡⢃⠎⡜⢢⡉⠖⣨⠱⡘⢢⠌⣃⠞⣠⠋⡤⢋⠆⡥⢊⠵⣈
⠀⠀⠀⠀⠀⠀⠀⢨⡏⢄⠒⡈⠔⡠⢃⠜⡨⢅⠪⡅⢎⡱⢊⠜⣢⠱⣉⢆⠣⠜⣂⠣⢜⡂⠖⡡⣿⠇⣼⠁⠀⠀⠀⠀⠀⢀⡳⠜⡑⠢⢧⣉⠷⣚⡿⣯⢿⣿⠱⣿⣿⢿⡹⢶⣹⢳⣏⢷⡾⣽⣻⢿⣿⡿⣯⣿⣿⡏⠀⠀⠀⠠⢹⡷⠀⠀⠀⠰⣯⠷⣻⡆⣰⢿⣳⠀⠀⠀⠀⠀⢀⡞⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⣿⡔⡡⢎⡜⢬⠡⡜⡑⢢⠅⡣⢃⡜⡰⡘⡄⡓⢌⠦⢩⡐⣃⠎⡔
⠀⠀⠀⠀⠀⠀⠰⡧⠘⡀⢂⠡⠌⡐⠌⠤⣑⢪⠱⡘⠦⣑⠪⡜⢤⠓⡌⢎⠥⠓⡤⢋⡒⣌⠳⢄⣿⠂⣽⠀⠀⠀⠀⢠⢐⠣⠡⠘⢠⠓⡬⢌⡳⣽⠃⣯⢻⢌⣿⣿⣟⢣⡙⢆⠧⣓⢮⢳⡙⢯⣟⣿⢾⡻⠕⣿⡿⠌⠀⠀⠀⡰⣭⡷⡀⠀⠀⢸⣇⠢⣹⡇⠉⢳⡭⠂⠀⠀⠀⢠⢈⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣧⡑⢎⡜⣂⠳⢌⡜⢡⢊⢅⠣⢢⠑⡴⢑⡸⢌⠲⣡⢒⡡⢚⡰
⠀⠀⠀⠀⠀⢀⡞⢡⠂⡐⢁⠢⠘⡐⠌⠲⡄⢣⢣⠝⡰⣈⢳⡘⢦⡙⡜⡌⢎⡱⢢⡑⠴⣈⠎⣼⣹⢆⡽⠀⠀⢀⡞⠰⡈⠄⢣⠉⠤⡉⠔⣬⢳⢃⡱⢌⠓⣮⣿⡿⡜⢢⠘⣌⠲⣉⢆⢣⠙⢆⡘⠌⢧⡑⡌⣿⣽⠂⠀⢀⠠⣳⣽⢳⡁⠀⠀⠨⣟⢷⡻⠇⡀⢽⡚⠀⠀⠀⠀⡜⣰⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⣶⡍⢲⡍⢦⡉⢦⠘⣆⢩⢂⠧⣁⢋⠴⢡⠒⡬⡑⢆⠦⣑⠣⡔
⠀⠀⠀⠀⠀⡰⢏⠀⠆⡐⢀⠢⠑⡈⠔⡱⢌⢣⡍⢎⡱⢌⡖⡹⣂⠗⡸⡘⠦⡑⠥⡌⢓⡌⠢⣽⢧⣿⡐⠀⡰⢧⠈⡔⠡⠘⡄⡘⠤⡑⢭⢲⡃⡜⠰⣉⢦⣿⣿⠣⢍⠢⢍⡰⢃⡜⡈⢆⡉⠆⡘⢌⠒⡰⠑⢮⣽⢣⠐⠠⢎⡷⣭⢷⡡⠀⠀⠀⠈⠀⠁⠁⠈⠀⠁⠀⠀⠀⠐⢬⣷⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣌⠳⣘⢧⡜⣂⢇⠒⡌⢎⠲⡡⢎⠜⣢⠙⡔⡩⠜⣢⠑⡎⡔
⠀⠀⠀⠀⠰⣏⠠⢈⠐⠠⢁⠢⠁⠌⢢⠑⡎⣖⡩⢆⡱⢎⡼⢡⡓⢎⡱⣉⠖⣉⠖⣌⠣⠜⡡⣿⢧⣾⠀⢤⠛⡆⢓⡌⣐⠣⡘⢄⠣⣜⡭⢢⠑⡬⠱⢌⣾⣿⡿⣽⣮⡵⢦⣦⢥⢦⣱⢢⡔⣤⠈⢆⡘⠴⣉⠖⣻⢧⡌⣱⢫⣞⡷⣏⡇⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⣲⢿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣭⢧⡙⡶⣼⡐⢪⠱⡘⠬⡱⡑⢎⡜⢤⢋⠴⡡⢋⠴⣉⠲⢡
⠀⠀⠀⠀⡷⠡⠐⠂⠌⡐⢀⠂⣉⠰⡁⢎⡵⢪⡑⢎⡱⢫⡜⣣⠜⣣⠱⣌⠚⡤⠓⡤⢛⠤⡑⣿⣧⢻⠀⢯⡘⡌⠥⢒⠌⡱⢌⠢⣱⠎⡔⢣⡘⢄⢋⣾⣿⡿⣽⣳⢬⡘⣡⠂⣌⠢⢅⢧⣚⠶⣙⠢⢜⡰⢡⢊⣽⣷⣚⣴⣻⢾⣽⣻⠖⠀⠀⢆⠁⠂⠀⢀⠀⠀⠀⠀⠀⠀⠐⣯⡓⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣣⡙⣖⢧⡙⢆⠱⣡⢣⠱⡘⢦⡘⠦⣉⠖⣡⠋⡴⢡⡙⢢
⠀⠀⠀⣨⠗⠠⠁⠌⡐⠠⠌⡐⢀⢂⡑⢮⣜⠣⡜⢮⣙⢧⡚⣥⢚⠥⣓⡌⢳⢨⠱⣘⢣⢊⡑⣿⡝⢢⡙⣞⡰⣉⠖⡩⡜⡰⢡⠳⣅⠫⠔⢢⡑⠎⣶⣿⣿⠇⣳⢽⡳⣏⢷⣹⢦⣳⣮⣶⣼⡳⡌⢜⢢⡑⣊⠜⣮⢷⣯⢾⣽⡻⣼⢯⣏⠀⢈⡦⣩⠐⡈⢀⠠⠐⠀⡀⢀⠠⢈⣿⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣷⡱⣎⢯⡟⡌⡖⡡⢂⠧⡙⠴⣈⠳⢌⡜⠤⡙⢤⢃⡜⢡
⠀⠀⠰⡧⠈⠠⢁⠂⠤⢁⠂⣁⠂⠆⣌⢷⣎⠳⣌⢷⡹⢦⡛⡴⣋⠞⣥⠚⡥⢢⡙⢦⣋⣿⠛⡻⣁⢶⡽⣮⠱⡜⣬⠱⣬⢑⡎⡗⢨⢒⢩⠒⡌⣳⣿⣿⣏⢣⠘⢢⠙⡜⢫⠞⡽⢳⣛⢾⡳⡹⡘⡌⢦⢑⢢⡙⣼⢯⣿⣛⠮⡑⢯⢞⣧⠀⢈⡷⣣⢣⠔⢂⡐⠠⠁⠀⠄⠐⢠⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣕⢪⢷⣻⡴⢡⠣⣍⠲⣉⠖⣡⢋⠦⡘⢥⡉⢆⠎⡰⢃
⠀⠀⡷⢁⠈⠄⠡⡈⠔⢠⠃⠄⡘⡸⢬⡗⣎⢳⣎⢷⣹⢣⠟⡴⣍⡞⢦⡛⡔⢣⡜⡖⣿⣿⣷⣱⡝⣮⢿⣯⢷⡹⢦⡻⡴⣏⠜⡬⢡⢊⢆⡩⣔⣿⣿⣟⡂⢥⠋⢦⠱⡌⣇⠞⣰⠣⢜⢢⠱⡅⢓⡘⢆⠣⢆⡵⣫⣿⣾⣻⢄⡙⢮⢞⡿⠄⢈⡷⣏⡾⡸⣅⠆⡱⠈⢀⠠⠀⢂⡻⢷⡤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⡌⣷⢫⣿⡰⢣⣌⠳⣈⠞⡤⢃⢎⡱⢂⠍⢆⠎⡱⢌
⠀⣔⠫⠀⠌⠠⡁⠰⢈⢂⠱⡈⠰⣱⣟⢾⣡⡟⣼⣣⢯⡝⢾⣱⢚⡼⣣⠜⣌⠧⡼⣽⣿⣿⣿⣿⣽⣶⣿⣿⣯⣟⣷⣳⢯⠱⡘⠴⡁⢎⠢⣱⣾⣿⣿⡇⡘⢦⡙⢢⠳⣍⠶⣙⢦⡹⢌⡒⢧⡘⢥⠚⣌⡱⣎⣾⢷⣯⣷⣿⣯⡽⣞⣘⠖⡦⢈⠷⣹⡳⡽⣞⡼⣱⢣⣤⣦⣽⣾⣷⣮⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⡳⢭⣟⣷⣻⠐⣎⡱⢎⡜⡲⣉⠦⡑⢎⡸⠌⡜⡰⢊
⢠⡏⠀⢅⡈⠅⣀⠃⡌⢄⠢⣁⠱⣽⡞⣧⣳⢟⣧⣛⢮⡝⣧⢏⡾⣱⢣⠞⣌⢳⣽⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⠿⣈⠖⡉⢆⡹⢄⢣⣽⣿⣿⣿⣷⡉⢦⡍⢧⣛⣬⢳⡝⣦⣛⡬⡝⢦⣙⢦⣻⡴⣿⡽⣞⣿⣾⣿⣿⣿⣿⣿⣿⣿⣷⣯⣿⣥⣳⣽⣎⣵⣣⣿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡱⣻⣞⣯⡳⢤⡙⡶⢨⠵⣌⠒⣍⠲⢄⡋⠴⣁⠣
⣷⠘⢀⠢⡐⡀⠢⢌⠐⣂⠁⢆⣿⣳⡟⣵⢯⣟⡾⣹⢮⣟⡼⣹⢶⣙⠮⡜⢬⣷⣿⣿⣿⣿⣿⣿⣿⣿⡿⣽⢿⣿⢏⡒⠥⡊⠕⡌⡒⢌⣾⣿⣿⣿⣿⣿⣝⡦⣝⡳⣎⡞⣧⣻⢶⡹⣞⡽⣧⣟⣾⣳⣿⣳⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⡱⢯⣟⣷⡟⣤⠹⣜⢧⠚⣤⢋⠴⣉⠦⣘⠡⢆⠣
⠠⢁⠢⢁⠔⣁⠒⠌⢒⠠⠑⢮⣾⢧⡿⣽⣻⢮⣟⣳⢯⣞⣳⢏⡾⣭⢚⡜⣳⣿⣿⣿⣿⣿⣿⣿⣿⡿⣱⢿⣻⡑⠎⡜⣠⠙⡜⢠⠅⣺⣿⣿⣿⣿⣿⣿⣿⣳⣭⠷⣯⣽⢳⡽⣞⣽⣻⣞⣷⣻⡾⣟⡳⢯⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⢭⣿⣾⣟⡶⣩⢎⡷⣫⢔⣫⠒⣌⠲⢌⡱⢊⡱
⠐⠠⣁⢊⠰⡀⢎⡘⢄⠃⢭⣾⡿⣯⣟⡷⣯⣟⡾⣭⢷⣻⡼⣯⣳⡝⣮⢽⣿⣿⣿⣿⣿⣿⣿⣿⡿⣡⣿⢿⠡⡜⡠⠑⠦⡑⡌⢆⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣟⡷⣯⢿⣽⣻⣞⣷⣻⣞⠷⣛⢬⠳⣍⠾⣹⢿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡿⢎⣷⣿⢯⣷⢣⡞⣽⢧⡚⣴⠣⡜⣂⠣⡔⠣⡔
⢈⠐⢄⠢⣁⠒⠤⡘⢠⡉⣾⣽⣿⢷⣻⣟⡷⣯⢿⡽⣯⢷⣻⢷⡧⣟⣼⣿⣿⣿⣿⣿⣿⣿⣿⡿⢧⣿⡛⠌⡒⠤⠡⢍⠢⠱⡈⢬⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣟⣿⡾⣷⣻⣞⠷⣍⢮⢱⠪⡕⣊⢷⣹⢿⡿⣿⣿⠯⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢙⣯⢞⣿⣿⣯⡗⣞⠼⣫⡷⣘⠷⡘⡄⡓⠬⡑⡌
⠠⢈⢂⠒⡄⡉⢆⡑⢢⢹⣿⣿⡽⣿⣻⣽⢿⡽⣯⢿⡽⣯⣟⣯⢿⣼⣿⣿⣿⣿⣿⣿⣿⣿⡟⣧⣿⠏⠁⢆⠑⢢⠑⡈⢆⠡⠓⣾⣿⣿⣿⣟⣻⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⢿⣻⠷⣭⠳⣜⣊⠧⣓⢬⢳⣮⣟⣯⣟⢧⣙⣾⠹⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣿⢨⣿⣿⣾⢿⣜⣫⡽⣷⡍⣾⡱⢢⠍⣒⠱⢌</p>
</section>
